{% extends 'base.html' %}
{% block content %}
<form method='POST' action=''>
{% csrf_token %}
<h3> Register </h3>
{% if data.ErrorMessage %}
<h3> {{ data.ErrorMessage }}
{% endif %}
<div>
UserName :
<input type='text' name='UserName'>
</div>
<div>
Password :
<input type='password' name='Password'>
</div>
<div>
FirstName :
<input type='text' name='FirstName'>
</div>
<div>
LastName :
<input type='text' name='LastName'>
</div>
<div>
Email :
<input type='text' name='Email'>
</div>

<input type='submit'>
</form>
{% endblock content %}